.welcome-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px;
    img {
        max-width: 800px;
    }
    label {
        margin-top: 30px;
        text-align: center;
        animation: fadeIn ease 5s;
        input {
            width: 100%;
            padding: 5px;
            border: 3px solid #d96cad;
            display: block;
            margin-top: 10px;
            &.error {
                animation: 0.1s tremor ease-out infinite;
                border-color: red;
            }
        }
    }
    button {
        margin: 30px;
        padding: 10px 30px;
        font-size: 18px;
        border: 3px solid #00ffd0;
        background-color: white;
        cursor: pointer;
        animation: fadeIn ease 5s;
        &:hover {
            background-color: #00ffd0;
            color: white;
        }
    }
}

@media (max-width: 500px) {
    .welcome-container label {
        margin: 30px 40px;
    }
}